{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{% static 'static/fontawesome-free-5.12.0-web/css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/bootstrap-4.4.1/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/MDB-Pro_4.11.0/css/mdb.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/base.css' %}"/>
    {% block style %}{% endblock style %}
</head>
<body>
  {% block navbar %}
    <header>
      <!--/.Navbar -->
      <nav class="mb-1 navbar navbar-expand navbar-custom lighten-1 z-depth-0">
        <a class="navbar-brand custom-nav-brand text-muted" href="{% url 'index' %}">My Account</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
  <!--          put stuffs here later-->
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">

            {% if user.is_authenticated %}
            <li class="nav-item icon-margin">
              <a class="nav-link waves-effect waves-light">
                <i class="fas fa-ellipsis-v fa-md text-black-50"></i>
              </a>
            </li>
            <li class="nav-item avatar dropdown no-transition">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false" href="{% url 'profile' slug=user.slug %}">
                {% if user.avatar %}
                  <img src="/static/media/{{ user.avatar }}" class="rounded-circle">
                {% else %}
                  <img src="{% static 'media/site_images/dummy_img.jpg' %}" class="rounded-circle">
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right dropdown-menu-profile dropdown-secondary no-transition nav-collapse dropdown-menu-right"
                   aria-labelledby="navbarDropdownMenuLink-55">
                <div class="card testimonial-card z-depth-1-half no-shrink custom-width-card">
                  <div class="card-up-custom transparent-obj bg-profile lighten-1"></div>
                  <div class="size-avatar mx-auto white">
                    {% if user.avatar %}
                      <img src="/static/media/{{ user.avatar }}" class="rounded-circle" width="84">
                    {% else %}
                      <img src="{% static 'media/site_images/dummy_img.jpg' %}" class="rounded-circle" width="84"/>
                    {% endif %}
                  </div>
                  <div class="card-body card-body-custom">
                    {% if user.first_name and user.last_name %}
                      <a  href="{% url 'profile' slug=user.slug %}" class="waves-effect waves-light" style="padding-bottom: 0px;">
                        <h6 class="card-title card-title-profile">{{ user.first_name }} {{ user.last_name }}</h6>
                      </a>
                    {% else %}
                      <a  href="{% url 'profile' slug=user.slug %}" class="waves-effect waves-light" style="padding-bottom: 0px;">
                        <h6 class="card-title card-title-profile">[u] {{ user.username }}</h6>
                      </a>
                    {% endif %}
                    <p class="card-text">{{ user.email }}</p>
                  </div>
                  <div class="btn-margin-3">
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-8">
                        <a href="{% url 'my_account' %}" class="btn btn-block btn-sm btn-flat btn-custom btn-rounded btn-smaller">
                          <span class="text-manage-acc align-middle">Manage your Account</span>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="btn-margin-0">
                    <button type="button" class="btn btn-flat btn-lg btn-block btn-add-acc">
                      <div class="row">
                        <div class="col-8">
                          <i class="far fa-user-circle icon-signout"></i>
                          <span class="text-add-acc">Add another account</span>
                        </div>
                      </div>
                    </button>
                  </div>
                  <div class="btn-margin-1">
                    <button type="button" class="btn btn-flat btn-sm btn-custom btn-sign-out">
                      <span class="text-sign-out">Sign out</span>
                    </button>
                  </div>
                  <div class="margin-2">
                    <div class="margin-2a">
                      <p class="text-muted small text-footer">Privacy Policy</p>
                      <p class="text-muted small text-footer">     |     </p>
                      <p class="text-muted small text-footer">Terms of Service</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
  {% endblock navbar %}
  {% block content %}{% endblock content %}

</body>
  <script type="text/javascript" src="{% static 'static/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/popper.js@1.16.0/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/MDB-Pro_4.11.0/js/mdb.min.js' %}"></script>
</html>