{% extends "myaccount/change_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}">
<link rel="stylesheet" href="{% static 'myaccount/css/change_email.css' %}">
<link rel="stylesheet" href="{% static 'myaccount/css/personal_info.css' %}"/>
{% endblock style %}

{% block inner_topic %}About{% endblock inner_topic %}

{% block inner_content %}
<p class="text-muted custom-text-5">To highlight info on your profile, set the audience to private. This means  fb can see this info</p>
<div class="card content-card-custom-0 z-depth-0 border content-card-custom-0" style="min-width: 660px;">
  <!-- Card content -->
  <div class="card-body card-body-custom-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item waves-effect">
        <a style="display:block" href="{% url 'update_work'  %}">
          <div class="row">
            <div class="col-5"><span class="custom-text-4">Work and Education</span></div>
            <div class="col-7">
              <p class="text-muted custom-text-5">
                Update your current workplace, skills, and your education degree
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item waves-effect">
        <a style="display:block" href="{% url 'update_places'  %}">
          <div class="row">
            <div class="col-5"><span class="custom-text-4">Places Lived</span></div>
            <div class="col-7">
              <p class="text-muted custom-text-5">
                Update the places you are living in or you had lived
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item waves-effect">
        <a style="display:block" href="{% url 'update_detail'  %}">
          <div class="row">
            <div class="col-5"><span class="custom-text-4">Further Details</span></div>
            <div class="col-7">
              <p class="text-muted custom-text-5">
                Personal details, like nicknames, bio, and a quote
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Card -->

{% endblock inner_content %}