{% extends "myaccount/change_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}">
{% endblock style %}

{% block inner_topic %}Name{% endblock inner_topic %}

{% block inner_content %}
<form method="post" action="{% url 'change_email' slug=user.slug %}">
  {% crispy form %}
  <div class="btn-group float-right" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-flat btn-sm float-right btn-custom-0" data-dismiss="modal">
      <span class="text-secondary custom-text-3">Cancel</span>
    </button>
    <button type="submit" class="btn btn-flat btn-sm float-right btn-custom-0"><span class="text-primary custom-text-3">Done</span></button>
  </div>
</form>
{% endblock inner_content %}