{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}"/>
{% endblock style %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div style="width: 685px;">
      {% block inner_header %}
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-1 align-middle">
                <a href="{% url 'personal_info' slug=user.slug %}"><i class="fas fa-arrow-left fa-lg align-bottom"></i></a>
              </div>
              <div class="col-11"><h3>{% block inner_topic %}{% endblock inner_topic %}</h3></div>
            </div>
          </div>
        </div>
        <hr>
      {% endblock inner_header %}
      {% block inner_content %}
      {% endblock inner_content %}
    </div>
  </div>
{% endblock content %}