{% extends "myaccount/change_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}">
{% endblock style %}

{% block inner_topic %}Contact Email{% endblock inner_topic %}
{% block icon_url %}{% url 'change_email' %}{% endblock icon_url %}

{% block inner_content %}
  <p class="text-muted  custom-text-1">Your changes will be available to anyone</p>
  <div class="card z-depth-0 border">
    <div class="card-body" style="padding-left: 0px; padding-right: 0px;">
      <p class="card-text custom-card-txt-0 text-body">
        <form action="{% url 'change_contact_email' %}">
          {% crispy form %}
        </form>
      </p>
    </div>
  </div>

{% endblock inner_content %}