{% extends "myaccount/change_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}">
{% endblock style %}

{% block inner_topic %}Birthday{% endblock inner_topic %}
{% block inner_content %}
  <p class="text-muted  custom-text-1">Your changes will be available to anyone</p>
  <div class="card z-depth-0 border">
    <div class="card-body">
      <p class="card-text custom-card-txt-0 text-body">
        {% if user.first_name and user.last_name %}
          {{ user.birthday }}
        {% else %}
          No birthday set
        {% endif %}
        <i class="fas fa-pencil-alt float-right align-middle" data-toggle="modal" data-target="#modalLoginForm"></i>
      </p>
    </div>
  </div>
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content custom-content-1">
        <div class="custom-content-1a">
          <div class="modal-header border-0">
            <h5 class="modal-title custom-text-2" id="exampleModalLongTitle" style="padding-bottom: 0px;">Change name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding-top: 0px;">
            <form method="post" action="{% url 'change_birthday' slug=user.slug %}">
              {% crispy form %}
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-flat btn-sm float-right btn-custom-0" data-dismiss="modal">
                  <span class="text-secondary custom-text-3">Cancel</span>
                </button>
                <button type="submit" class="btn btn-flat btn-sm float-right btn-custom-0"><span class="text-primary custom-text-3">Done</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock inner_content %}