{% extends "myaccount/change_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/change_base.css' %}">
<link rel="stylesheet" href="{% static 'myaccount/css/change_email.css' %}">
<link rel="stylesheet" href="{% static 'myaccount/css/personal_info.css' %}"/>
{% endblock style %}

{% block inner_topic %}Name{% endblock inner_topic %}

{% block inner_content %}
<p class="text-muted custom-text-5">Manage the email addresses associated</p>
<div class="card content-card-custom-0 z-depth-0 border">
  <!-- Card content -->
  <div class="card-body card-body-custom-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-5"><span class="custom-text-4">Contact email</span></div>
          <div class="col-7">
            <span class="custom-text-4">{{ user.email }}</span>
            <p class="text-muted custom-text-5">
              The address where you get information about most of our services you use with this account
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-5"><span class="custom-text-4">About me email</span></div>
          <div class="col-7">
            {% if user.about_me_email %}
              <span class="custom-text-4">{{ user.about_me_email }}</span>
            {% else %}
              <span class="custom-text-4">
                <a href="{% url 'change_about_me_email' slug=user.slug %}">Add about me email</a>
              </span>
            {% endif %}
            <p class="text-muted custom-text-5">
              Email addresses that you can share with others across Google products like Drive and Photos.
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-5"><span class="custom-text-4">Recovery</span></div>
          <div class="col-7">
            {% if user.about_me_email %}
              <span class="custom-text-4">{{ user.recovery_email }}</span>
            {% else %}
              <span class="custom-text-4">
                <a href="{% url 'change_recovery_email' slug=user.slug %}">Add recovery email</a>
              </span>
            {% endif %}
            <p class="text-muted custom-text-5">
              The address where we can contact you if you get locked out.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Card -->
{% endblock inner_content %}