{% extends "myaccount/myaccount_base.html" %}
{% load static %}
{% load i18n %}

{% block link0a %}active {% endblock link0a %}
{% block link0b %}active {% endblock link0b %}

{% block tab_content %}
<div class="tab-content border-right border-bottom border-left rounded-bottom border-0" id="myClassicTabContent">
  <div class="tab-pane fade active show" id="home-classic" role="tabpanel" aria-labelledby="home-tab-classic">
    {% if user.avatar %}
      <img src="/static/media/{{ user.avatar }}" class="rounded-circle z-depth-0 head-thumbnail" alt="avatar image">
    {% else %}
      <img src="{% static 'media/site_images/dummy_img.jpg' %}" class="rounded-circle z-depth-0 head-thumbnail" alt="avatar image">
    {% endif %}
    {% if user.first_name and user.last_name %}
      <h3 class="text-center">Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
    {% else %}
      <h3 class="text-center">Welcome, [u] {{ user.username }}</h3>
    {% endif %}
    <p class="text-center custom-p-0">Manage, change, or remove any of your personal information.</p>
    <div class="row justify-content-center">
      <div class="col-6 content-col">
        <div class="card shadow-none border">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h4>Privacy & Personalization</h4>
                <p class="card-text">
                  See the data in your Google Account and choose what activity is saved to personalize your Google experience
                </p>
              </div>
              <div class="col-4">
                <img src="{% static 'media/site_images/privacy_personalization.png' %}" class="help-image z-depth-0" alt="avatar image">
              </div>
            </div>
          </div>
          <hr class="custom-hr-0">
          <button type="button" class="btn btn-custom-flat btn-flat btn-block btn-custom-0">
            <div class="bottom-label">Manage your data & personalization</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock tab_content %}