{% extends "myaccount/myaccount_base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myaccount/css/manage_account.css' %}">
<link rel="stylesheet" href="{% static 'myaccount/css/personal_info.css' %}"/>
{% endblock style %}

{% block link1a %}active show{% endblock link1a %}
{% block link1b %}active show{% endblock link1b %}

{% block tab_content %}
<div class="content-custom">
  <div class="d-xl-none">
    <div class="custom-head-text-0">
      <p class="text-center custom-p-0">Basic info, like your name and photo, that you use on __ services</p>
    </div>
  </div>
  <div class="d-none d-xl-block">
    <div class="custom-head-text-0">
      <h3 class="text-center">Personal Info</h3>
      <p class="text-center custom-p-0">Basic info, like your name and photo, that you use on __ services</p>
    </div>
  </div>

  <div class="container container-custom">
    <!-- Card -->
    <div class="card content-card-custom-0 z-depth-0 border" style="height:327.3px;">
      <div class="card-body card-custom-1">
        <div class="card-header-custom-0">
          <h4 class="card-title">Profile</h4>
          <p class="card-text">Some info may be visible to other people, but not right now</p>
        </div>
        <div class="card-body-custom-0">
          <ul class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action waves-effect list-group-custom">
              <a style="display:block" href="{% url 'change_name'  %}">
                <div class="row custom-row-0">
                  <div class="col-3 text-muted custom-text-0"><small>Name</small></div>
                    <div class="col-8 custom-text-1">
                      {% if user.first_name and user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                      {% else %}
                        No first or last name set
                      {% endif %}
                    </div>
                  <div class="col-1"><i class="fas fa-angle-right"></i></div>
                </div>
              </a>
            </div>
            <div class="list-group-item list-group-item-action waves-effect list-group-custom">
              <a style="display:block" href="{% url 'change_gender'  %}">
                <div class="row custom-row-0">
                  <div class="col-3 text-muted custom-text-0"><small>Gender</small></div>
                  <div class="col-8 custom-text-1">{{ user.gender }}</div>
                  <div class="col-1"><i class="fas fa-angle-right"></i></div>
                </div>
              </a>
            </div>
            <div class="list-group-item list-group-item-action waves-effect list-group-custom">
              <a style="display:block" href="{% url 'password_change' %}">
                <div class="row custom-row-0">
                  <div class="col-3 text-muted custom-text-0"><small>Password</small></div>
                  <div class="col-8 custom-text-1">Please change it via this form:</div>
                  <div class="col-1"><i class="fas fa-angle-right"></i></div>
                </div>
              </a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="inserted-space-0" style="height:25px;"></div>
    <div class="card content-card-custom-0 z-depth-0 border">
      <div class="card-body card-custom-1">
        <div class="card-header-custom-0">
          <h4 class="card-title">Contact Info</h4>
        </div>
        <div class="card-body-custom-0">
          <ul class="list-group list-group-flush">
            <a href="{% url 'change_email' %}" class="list-group-item list-group-item-action waves-effect list-group-custom">
              <div class="row custom-row-0">
                <div class="col-3 text-muted custom-text-0"><small>Email</small></div>
                <div class="col-8 custom-text-1b">{{ user.email }}</div>
                <div class="col-1"><i class="fas fa-angle-right"></i></div>
              </div>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="inserted-space-0" style="height:25px;"></div>
    <div class="card content-card-custom-0 z-depth-0 border">
      <div class="card-body card-custom-1">
        <div class="card-header-custom-0">
          <h4 class="card-title">More Information</h4>
        </div>
        <div class="card-body-custom-0">
          <ul class="list-group list-group-flush">
            <a href="{% url 'about_me' %}" class="list-group-item list-group-item-action waves-effect list-group-custom">
              <div class="row custom-row-0">
                <div class="col-3 text-muted custom-text-0"><small>Info</small></div>
                <div class="col-8 custom-text-1b">Please change it via this form:</div>
                <div class="col-1"><i class="fas fa-angle-right"></i></div>
              </div>
            </a>
          </ul>
        </div>
      </div>
    <!-- Card -->
  </div>
</div>
{% endblock tab_content %}