.custom-tabs-0a {margin-top: -5px; padding-top: 0px; padding-bottom: 0px;}
.custom-p-0 {margin-top: 1.2rem;}
.head-thumbnail {
    height: 96px;
    width: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.7rem;
    margin-bottom: 1rem;
}
.custom-card-0 {
    border: 1px solid #c3c3c3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content-col {max-width: 430px;}
.custom-hr-0 {margin-top: 0px; margin-bottom: 0px;}
.help-image {vertical-align: middle;}
.bottom-label {text-align: left; width:100%; text-transform: capitalize; padding-left: 0px;}
.btn-custom-flat {color: inherit; background-color: transparent; -webkit-box-shadow: none; box-shadow: none;}
.btn-custom-0 {
    padding: 1rem 2.4rem;
    padding-top: 1rem;
    padding-right: 2.4rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    font-size: .94rem;
    color: #4285f4 !important;
    font-weight: normal;
}
.custom-item-0 {
    padding-left: 2rem !important;
    padding-bottom: 0px;
    transform: scale(1.3);
    font-size: 0.7rem;
    font-weight: normal;
}
.pills-custom {vertical-align: middle;}
.custom-col-0 {padding-right: 0px !important; float: right !important; padding-bottom: auto;}
.custom-col-1 {padding-left: 0.25rem;}
.d-custom-help {padding-top: 1rem;}
.nav-link-custom {width: 70%; height: 120%; margin-right: 0px !important; max-width: 225px;}
.custom-col-3 {padding-left: 0px; padding-right: 0px;}
.bd-custom-0 {padding-top: 0px !important; padding-bottom: 0px !important;}