{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Search" %}</h2>
  <form method="get" action="{% url 'haystack_search' %}">
    <div class="well clearfix">{{ form.as_p }}
      <p class="pull-right"><input type="submit" value="Search"class="btn btn-primary"></p>
    </div>
  </form>

  {% if query %}
    <h3>{% trans "Results" %}</h3>
    {% for result in page.object_list %}
      <p><a href="{{ result.object.get_url_path }}">{{ result.object.title }}</a></p>
    {% empty %}
      <p>{% trans "No results found." %}</p>
    {% endfor %}
  {% endif %}
{% endblock %}