{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{% static 'static/fontawesome-free-5.12.0-web/css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/bootstrap-4.4.1/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/MDB-Pro_4.11.0/css/mdb.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/base.css' %}"/>
    {% block style %}{% endblock style %}
</head>

<body>
  <form method="get" action=".">
    {% crispy form %}
    {% include "search/search_paginator.html" %}
  </form>
</body>


  {% block scripts %}{% endblock scripts %}
  <script type="text/javascript" src="{% static 'static/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/popper.js@1.16.0/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'static/MDB-Pro_4.11.0/js/mdb.min.js' %}"></script>
</html>